* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #333;
    display: flex;
    color: #fff;
    justify-content: space-between;
    padding: 20px;
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav ul li {
    margin: 0 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

header nav ul li a:hover {
    color: #aaa;
}

main {
    flex: 1;
}

.hero {
    background-color: #aaa;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero h1 {
    font-size: 1.5rem;
    color: #fff;
}

.hero p {
    font-size: 1.0rem;
    color: #fff;
}

.services {
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

.service {
    background-color: #aaa;
    width: 200px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.service h2 {
    font-size: 1.0rem;
    color: #fff;
}

.service p {
    font-size: 0.8rem;
    color: #fff;
}

@media (max-width:800px) {
    .services{
        flex-direction: column;
        align-items: center;
    }

    .service{
        width: 80%;
        height: 100px;
    }
}

footer {
    background-color: #333;
    height: 60px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

/* コンタクトページ用 */

.contact-form {
    background-color: #eee;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    min-width: 400px;
    margin: 40px auto;
    padding: 40px;
    gap: 10px;
}

.contact-form input,
.contact-form textarea {
    padding: 8px;
}

.contact-form button {
    background-color: #333;
    color: #fff;
    padding: 10px;
    margin-top: 20px;
}

.contact-form button:hover {
    background-color: #aaa;
    color: #fff;
    padding: 10px;
    margin-top: 20px;
}

.contact-form button:active {
    background-color: #666;
}

.error-message {
    color: #f00;
    font-size: 0.8rem;
    display: none;
}

.error-message.show {
    display: block;
}